<template>
  <div>

          <div style="display: flex; justify-content: center;">
            <div>
             <div style="z-index: 3; position: relative; margin: 5px;" >
                <el-form display="flex: 1; min-width: 300px;"  label-position="top" label-width="130px">
                 


                  <div v-if="orgData[$store.state.searchResultsSR[0]]" style="width: 250px;">
                    <p class="found-record-headings">Customer</p>
                    <small style="font-weight: 500; font-size: 15px;">{{orgData[$store.state.searchResultsSR[0]]}}</small>
                  </div>

                  <div v-if="$store.state.searchResultsSR[0]">
                    <p class="found-record-headings">Sales Request</p>
                    <small style="font-weight: 500; font-size: 15px;">SR-{{$store.state.searchResultsSR[1]}}</small>
                  </div>

                </el-form>
              </div>
            </div>
          </div>
  </div>
</template>

<script>
export default {
  props: [
    'orgData'
  ],
  data() {
    return {
      currentlyShown: 0,
      selected: null,
    }
  },
  created() {
    this.$store.dispatch('changeHideSearchTool', true)
  },
  methods: {
    back(key) {
      if (key > 0) {
        this.currentlyShown = this.currentlyShown - 1
      } else {
        return
      }
    },
    forward(key) {
      if (key < this.$store.state.searchResultsSR.length) {
        this.currentlyShown = this.currentlyShown + 1
      }
      else {
        return
      }
    },
    submit() {
      this.currentlyShown
    }
  }
}
</script>

<style lang="scss">
.card {
border-radius: 3px;
padding: 30px;
}
.arrow-right {
 font-size: 20px;
 font-weight: 900;
 transition: all 1s;

 &:hover {
   transform: scale(1.5);
 }
}
.arrow-left {
  font-size: 20px;
 font-weight: 900;
 transition: all 1s;

 &:hover {
   transform: scale(1.5);
 }
}
.disabled {
  color: #e1e1e1;
  &:hover {
    transform: none;
  }
}
</style>
