<template>
  <div>
    <el-alert v-if="$store.state.searchResults.length > 1" style="display: flex; margin: 10px 0px; justify-content: space-between; text-align: right; font-size: 10px;" type="info" :show-icon="true" title="Multiple options found" :closable="false"></el-alert>
<div style="display: flex; justify-content: center; ">
          <div >
          
             
             <div style="z-index: 3; position: relative; margin: 5px;" :class="$store.state.searchResults.length > 1 ? 'card' : ''">
              
              <el-form v-for="(item, key) in $store.state.searchResults" :key="key" v-show="key === currentlyShown ? true : false" display="flex: 1; min-width: 300px;"  label-position="top" label-width="130px">
               <div v-if="$store.state.searchResults.length > 1">
                <div  style="display: flex; justify-content: space-between;">
                <i class="el-icon-arrow-left arrow-left" :class="key === 0 ? 'disabled' : ''" @click="back(key)"></i>
                <small >{{key + 1}} of {{$store.state.searchResults.length}} results</small>
                <i class="el-icon-arrow-right arrow-right" :class="key === $store.state.searchResults.length - 1 ? 'disabled' : ''" @click="forward(key)"></i>
                              
                </div>
                <div style="border-bottom: 1px solid #e1e1e1; margin: 20px;"></div>  
                </div>
               
                <div v-if="item[0] && orgData[item[0]]" style="width: 250px;">
                  <p class="found-record-headings">Customer</p>
                  <small style="font-weight: 500; font-size: 15px;">{{orgData[item[0]]}}</small>
                </div>
                <div v-if="item[2]">
                  <p class="found-record-headings">VIN</p>
                  <small style="font-weight: 500; font-size: 15px;">{{item[2]}}</small>
                </div>
                <div v-if="item[1]">
                  <p class="found-record-headings">Sales Request</p>
                  <small style="font-weight: 500; font-size: 15px;">SR-{{item[1]}}</small>
                </div>
                <div v-if="item[3]">
                  <p class="found-record-headings">Fleet Number</p>
                  <small style="font-weight: 500; font-size: 15px;">{{item[3]}}</small>
                </div>
              </el-form>
              </div>
          </div>
          </div>
  </div>
</template>

<script>
export default {
  props: [
    'orgData'
  ],
  data() {
    return {
      currentlyShown: 0,
      selected: null,
    }
  },
  created() {
    this.$store.dispatch('changeHideSearchTool', true)
  },
  methods: {
    back(key) {
      if (key > 0) {
        this.currentlyShown = this.currentlyShown - 1
      } else {
        return
      }
    },
    forward(key) {
      if (key < this.$store.state.searchResults.length) {
        this.currentlyShown = this.currentlyShown + 1
      }
      else {
        return
      }
    },
    submit() {
      this.currentlyShown
    }
  }
}
</script>

<style lang="scss">
.card {
border-radius: 3px;
padding: 30px;
}
.arrow-right {
 font-size: 20px;
 font-weight: 900;
 transition: all 1s;

 &:hover {
   transform: scale(1.5);
 }
}
.arrow-left {
  font-size: 20px;
 font-weight: 900;
 transition: all 1s;

 &:hover {
   transform: scale(1.5);
 }
}
.disabled {
  color: #e1e1e1;
  &:hover {
    transform: none;
  }
}
</style>
