<template>
  <div>
    <el-row class="demo-autocomplete">
      <div class="ofsc-card" style="display: flex; flex-direction: column; align-items: center; justify-content: center; align-text: center;" v-if="firstLoad">
       
        <atom-spinner
          :animation-duration="1000"
          :size="60"
          :color="'#e5692c'"
     />
    

        <h3>Loading VIN data</h3>
      </div>
      <div class="ofsc-card" v-else-if="$store.state.activityType === 'internal'">
        <transition leave-active-class="animated fadeOutRight">
          <div v-if="!$store.state.hideSearchTool || $store.state.noMatch" v-loading="$store.state.loading">

            <div style="height: 20px; display: flex; justify-content: center; align-items: center;">
              <h3 v-if="counterSR < 20">Enter Sales Release Number</h3>
              <transition enter-active-class="animated shake">
                <h3 v-if="$store.state.noMatch && counterSR === 100">Unable to find SR, please try again</h3>
              </transition>

              <div v-if="!$store.state.noMatch && counterSR > 19">

                <div v-if="!$store.state.noMatch && counterSR > 19" style="width: 100%; margin-left: 44px; height: 30px; display: flex; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" height="245" width="150" viewBox="0 0 212 38" aria-hidden="true">
                    <g>
                      <path fill="#e5692c" opacity="1" d="M79.9 1.7H56.3c-2 0-3.5.5-4.5 1.3-.4.3-.7.6-.9 1-1.2-.1-2.5.2-3.6 1 1 .4 1.9.9 2.7 1.6l.1.1.2.2.1.1.3.3c.3.3.6.7.8 1 .1.1.2.2.2.4v.1c.1.1.1.2.2.3.1 0 .1 0 .1.1s.1.2.1.2c0 .1.1.2.1.3.4 1 .6 2.1.6 3.3 0 4.8-3.9 8.6-8.6 8.6-4.7 0-8.6-3.9-8.6-8.6 0-1.2.2-2.2.6-3.3 0-.1.1-.2.1-.3 0-.1.1-.2.1-.2 0-.1.1-.1.1-.2.1-.1.1-.2.2-.3v-.1c.1-.1.1-.2.2-.4.2-.4.5-.7.8-1 .3-.1.4-.2.4-.3l.1-.1.2-.2.1-.1c.8-.7 1.7-1.2 2.7-1.6-1-.8-2.4-1.1-3.6-1-.2-.4-.5-.7-.9-1-1.1-.8-2.5-1.3-4.5-1.3H9.4C5.1 1.6 1.5 1 .2.2c1.3 3.8 5 6.5 9.2 6.5H33c-.1.3-.3.5-.4.8H10c1 3 3.9 5.1 7.2 5.1h14.2v.8H17.9c1 3 4.4 5.1 7.2 5.1h7.6c2.1 4.2 6.5 7.2 11.5 7.2s9.4-2.9 11.5-7.2h8.5c2.8 0 6.2-2.1 7.2-5.1H57.1v-.6-.2h15c3.3 0 6.2-2.1 7.2-5.1H56c-.1-.3-.3-.5-.4-.8h24.3c4.3 0 7.9-2.7 9.2-6.5-1.3.9-5 1.5-9.2 1.5z"></path>
                      <path fill="#e5692c" opacity="1" d="M44.3 8.4c2.5 0 4.6 2 4.6 4.6 0 2.5-2 4.6-4.6 4.6-2.5 0-4.6-2-4.6-4.6 0-2.6 2.1-4.6 4.6-4.6z"></path>
                    </g>
                  </svg>
                </div>
                <el-progress :width="79" :show-text="false" :percentage="counterSR" :color="'#e5692c'" type="circle"
                  style="margin-top: 45px;" :status="counterSR === 100 ? 'success' : null"></el-progress>

              </div>
            </div>

            <div style="height: 100px;"></div>
            <div style="width: 100%">
              <div style="display: flex; justify-content: center;">
                <h1>SR-</h1>
                <input placeholder="0" autocomplete="off" tabindex="1" inputmode="numeric" v-on:focus="$event.target.select()" v-model="selectedSR.one"
                  v-on:keyup="processKeypressSR('secondSR', 'fourthSR', $event)" 
                  type="text" pattern="[0-9]*" autofocus maxlength="1" ref="firstSR" name="firstSR" class="vin-digit" />

                <input placeholder="0" tabindex="2" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selectedSR.two"
                  v-on:keyup="processKeypressSR('thirdSR', 'firstSR', $event)" 
                  type="text" pattern="[0-9]*" maxlength="1" ref="secondSR" name="secondSR" class="vin-digit" />

                <input placeholder="0" tabindex="3" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selectedSR.three"
                  v-on:keyup="processKeypressSR('fourthSR', 'secondSR', $event)" type="text" pattern="[0-9]*" maxlength="1"
                  ref="thirdSR" name="thirdSR" class="vin-digit" />

                <input placeholder="0" tabindex="4" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selectedSR.four"
                  v-on:keyup="processKeypressSR('firstSR', 'thirdSR', $event)" type="text" pattern="[0-9]*" maxlength="1" ref="fourthSR"
                  name="fourthSR" class="vin-digit" />


              </div>

            </div>

          </div>
        </transition>

        <transition enter-active-class="animated fadeInLeft delay-1s">
          <async-component-s-r v-if="$store.getters.showResultSR" :orgData="orgData"></async-component-s-r>
        </transition>
        </div>
      <div class="ofsc-card" v-else>
        <transition leave-active-class="animated fadeOutRight">
          <div v-if="!$store.state.hideSearchTool || $store.state.noMatch" v-loading="$store.state.loading">

            <div style="height: 20px; display: flex; justify-content: center; align-items: center;">
              <h3 v-if="counter < 20">Enter last 8 characters of VIN</h3>
              <transition enter-active-class="animated shake">
                <h3 v-if="$store.state.noMatch && counter === 100">Unable to find VIN, please try again</h3>
              </transition>

              <div v-if="!$store.state.noMatch && counter > 19">

                <div v-if="!$store.state.noMatch && counter > 19" style="width: 100%; margin-left: 44px; height: 30px; display: flex; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" height="245" width="150" viewBox="0 0 212 38" aria-hidden="true">
                    <g>
                      <path fill="#e5692c" opacity="1" d="M79.9 1.7H56.3c-2 0-3.5.5-4.5 1.3-.4.3-.7.6-.9 1-1.2-.1-2.5.2-3.6 1 1 .4 1.9.9 2.7 1.6l.1.1.2.2.1.1.3.3c.3.3.6.7.8 1 .1.1.2.2.2.4v.1c.1.1.1.2.2.3.1 0 .1 0 .1.1s.1.2.1.2c0 .1.1.2.1.3.4 1 .6 2.1.6 3.3 0 4.8-3.9 8.6-8.6 8.6-4.7 0-8.6-3.9-8.6-8.6 0-1.2.2-2.2.6-3.3 0-.1.1-.2.1-.3 0-.1.1-.2.1-.2 0-.1.1-.1.1-.2.1-.1.1-.2.2-.3v-.1c.1-.1.1-.2.2-.4.2-.4.5-.7.8-1 .3-.1.4-.2.4-.3l.1-.1.2-.2.1-.1c.8-.7 1.7-1.2 2.7-1.6-1-.8-2.4-1.1-3.6-1-.2-.4-.5-.7-.9-1-1.1-.8-2.5-1.3-4.5-1.3H9.4C5.1 1.6 1.5 1 .2.2c1.3 3.8 5 6.5 9.2 6.5H33c-.1.3-.3.5-.4.8H10c1 3 3.9 5.1 7.2 5.1h14.2v.8H17.9c1 3 4.4 5.1 7.2 5.1h7.6c2.1 4.2 6.5 7.2 11.5 7.2s9.4-2.9 11.5-7.2h8.5c2.8 0 6.2-2.1 7.2-5.1H57.1v-.6-.2h15c3.3 0 6.2-2.1 7.2-5.1H56c-.1-.3-.3-.5-.4-.8h24.3c4.3 0 7.9-2.7 9.2-6.5-1.3.9-5 1.5-9.2 1.5z"></path>
                      <path fill="#e5692c" opacity="1" d="M44.3 8.4c2.5 0 4.6 2 4.6 4.6 0 2.5-2 4.6-4.6 4.6-2.5 0-4.6-2-4.6-4.6 0-2.6 2.1-4.6 4.6-4.6z"></path>
                    </g>
                  </svg>
                </div>
                <el-progress :width="79" :show-text="false" :percentage="counter" :color="'#e5692c'" type="circle"
                  style="margin-top: 45px;" :status="counter === 100 ? 'success' : null"></el-progress>

              </div>
            </div>

            <div style="height: 100px;"></div>
            <div style="width: 100%">
              <div style="display: flex; justify-content: center;">

                <input placeholder="A" autocomplete="off" tabindex="1" inputmode="text" v-on:focus="$event.target.select()" v-model="selected.one"
                  v-on:keyup="processKeypress('second', 'eight', $event)" @input="forceUppercase($event, selected, 'one')"
                  type="text" pattern="[a-zA-Z0-9]*" autofocus maxlength="1" ref="first" name="first" class="vin-digit" />

                <input placeholder="A" tabindex="2" autocomplete="off" v-on:focus="$event.target.select()" inputmode="text" v-model="selected.two"
                  v-on:keyup="processKeypress('third', 'first', $event)" @input="forceUppercase($event, selected, 'two')"
                  type="text" pattern="[a-zA-Z0-9]*" maxlength="1" ref="second" name="second" class="vin-digit" />

                <input placeholder="0" tabindex="3" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selected.three"
                  v-on:keyup="processKeypress('fourth', 'second', $event)" type="text" pattern="[0-9]*" maxlength="1"
                  ref="third" name="third" class="vin-digit" />

                <input placeholder="0" tabindex="4" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selected.four"
                  v-on:keyup="processKeypress('fifth', 'third', $event)" type="text" pattern="[0-9]*" maxlength="1" ref="fourth"
                  name="fourth" class="vin-digit" />

                <input placeholder="0" tabindex="5" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selected.five"
                  v-on:keyup="processKeypress('six', 'fourth', $event)" type="text" pattern="[0-9]*" maxlength="1" ref="fifth"
                  name="fifth" class="vin-digit" />

                <input placeholder="0" tabindex="6" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selected.six"
                  v-on:keyup="processKeypress('seven', 'fifth', $event)" type="text" pattern="[0-9]*" maxlength="1" ref="six"
                  name="six" class="vin-digit" />

                <input placeholder="0" tabindex="7" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selected.seven"
                  v-on:keyup="processKeypress('eight', 'six', $event)" type="text" pattern="[0-9]*" maxlength="1" ref="seven"
                  name="seven" class="vin-digit" />

                <input placeholder="0" tabindex="8" autocomplete="off" v-on:focus="$event.target.select()" inputmode="numeric" v-model="selected.eight"
                  v-on:keyup="processKeypress('first', 'seven', $event)" type="text" pattern="[0-9]*" maxlength="1" ref="eight"
                  name="eight" class="vin-digit" />

              </div>

            </div>

          </div>
        </transition>

        <transition enter-active-class="animated fadeInLeft delay-1s">
          <async-component v-if="$store.getters.showResult" :orgData="orgData"></async-component>
        </transition>

      </div>
      <div v-if="$store.state.searchResults.length > 0 && $store.state.hideSearchTool" style="display: flex; justify-content: flex-end; margin-top: 10px;">
        <el-button plain @click="startOver">Start Over</el-button>
        <el-button style="background-color: #0572cd; color: white;" @click="backToOFSC">Select</el-button>

      </div>
      <div v-else-if="$store.state.searchResultsSR.length > 0 && $store.state.hideSearchTool" style="display: flex; justify-content: flex-end; margin-top: 10px;">
        <el-button plain @click="startOverSR">Start Over</el-button>
        <el-button style="background-color: #0572cd; color: white;" @click="backToOFSCSR">Select</el-button>

      </div>

    </el-row>

  </div>
</template>

<script>
import Results from '@/components/Results';
import AsyncLoadError from './AsyncLoadError.vue';
import AsyncLoading from './AsyncLoading.vue';
import store from '../store/main';
import orgData from '@/assets/orgData.json';
import assetDataAll from '@/assets/assetDataAll.json';
import { AtomSpinner } from 'epic-spinners'

const AsyncComponent = import('./AsyncComponent.vue');
const AsyncComponentSR = import('./AsyncComponentSR.vue');

export default {
  name: 'AutoComplete',
  components: {
    AtomSpinner,
    AsyncComponent: () => ({
      // The component we want to load.
      component: new Promise((resolve) => {
        setTimeout(() => {
          store.dispatch('changeLoading', false);
          resolve(AsyncComponent);
        }, 1000);
      }),
      // The component to use as a placeholder while the
      // async component is loading.
      loading: AsyncLoading,
      // The component to render instead if there is an error
      // loading the async component.
      error: AsyncLoadError,
      // The delay before the loading component is shown.
      delay: 500,
      // If this timeout is reached, the async component is considered
      // to have failed loading.
      timeout: 10000,
    }),
    AsyncComponentSR: () => ({
      // The component we want to load.
      component: new Promise((resolve) => {
        setTimeout(() => {
          store.dispatch('changeLoading', false);
          resolve(AsyncComponentSR);
        }, 1000);
      }),
      // The component to use as a placeholder while the
      // async component is loading.
      loading: AsyncLoading,
      // The component to render instead if there is an error
      // loading the async component.
      error: AsyncLoadError,
      // The delay before the loading component is shown.
      delay: 500,
      // If this timeout is reached, the async component is considered
      // to have failed loading.
      timeout: 10000,
    }),
  },
  data() {
    return {
      vinData: null,
      srData: null,
      firstLoad: true,
      eightDigitVinData: [],
      fourDigitSRData: [],
      selectedSR: {
        one: null,
        two: null,
        three: null,
        four: null
      },
      selected: {
        one: null,
        two: null,
        three: null,
        four: null,
        five: null,
        six: null,
        seven: null,
        eight: null,
      },
    };
  },
  computed: {
    internal() {
      if (this.$store.state.internal) {
        return true
      } else {
        return false
      }
    },
    counter() {
      let count = 0;
      this.selected.one ? count++ : '';
      this.selected.two ? count++ : '';
      this.selected.three ? count++ : '';
      this.selected.four ? count++ : '';
      this.selected.five ? count++ : '';
      this.selected.six ? count++ : '';
      this.selected.seven ? count++ : '';
      this.selected.eight ? count++ : '';
      return count * 100 / 8;
    },
    counterSR() {
      let count = 0;
      this.selectedSR.one ? count++ : '';
      this.selectedSR.two ? count++ : '';
      this.selectedSR.three ? count++ : '';
      this.selectedSR.four ? count++ : '';
      return count * 100 / 4;
    },
    vinNumbers() {
      const all = `${this.selected.one || ''}${this.selected.two || ''}${this.selected.three || ''}${this.selected.four || ''}${this.selected.five || ''}${this.selected.six || ''}${this.selected.seven || ''}${this.selected.eight || ''}`;
      return all;
    },
    srNumbers() {
      const all = `${this.selectedSR.one || ''}${this.selectedSR.two || ''}${this.selectedSR.three || ''}${this.selectedSR.four || ''}`;
      return all;
    },

  },
  methods: {
    backToOFSC() {
      
        window.parent.postMessage({
    "apiVersion": 1,
    "method": "close",
    "backScreen": "default",
    "activity": {
      "aid": this.$store.state.currentActivity,
      "xa_cust_flt_num": this.$store.state.searchResults[0][3],
      "xa_sales_rel_num": this.$store.state.searchResults[0][1],
      "xa_vin_num": this.$store.state.searchResults[0][2],
      "xa_org_name": this.orgData[this.$store.state.searchResults[0][0]]
    }
}, "https://login.etadirect.com/mobility/");
    
    },
    backToOFSCSR() {
        window.parent.postMessage({
    "apiVersion": 1,
    "method": "close",
    "backScreen": "default",
    "activity": {
      "aid": this.$store.state.currentActivity,
      "xa_sales_rel_num": this.$store.state.searchResultsSR[1],
      "xa_org_name": this.orgData[this.$store.state.searchResultsSR[0]]
    }
}, "https://login.etadirect.com/mobility/");
    
    },
    forceUppercase(e, o, prop) {
      const start = e.target.selectionStart;
      e.target.value = e.target.value.toUpperCase();
      this.$set(o, prop, e.target.value);
      e.target.setSelectionRange(start, start);
    },
    processSR() {
      this.$nextTick(() => {
        this.$store.dispatch('changeLoading', true);
        const arr = [];
        if (this.fourDigitSRData.length > 0) {
          this.fourDigitSRData.forEach((item, key) => {
            if (this.srNumbers === item) {
              arr.push(this.vinData[key]);
            }
          });
        } 

        if (arr.length > 1) {
          this.$store.dispatch('changeNoMatch', false);
          this.$store.dispatch('updateSearchResultsSR', arr[0]);
        } else if (arr.length === 1) {
          this.$store.dispatch('changeNoMatch', false);
          this.$store.dispatch('updateSearchResultsSR', arr);
        } else {
          this.$store.dispatch('changeNoMatch', true);
          this.$store.dispatch('changeLoading', false);
        }
          
        
      });
    },
    process() {
      this.$nextTick(() => {
        this.$store.dispatch('changeLoading', true);
        const arr = [];
        if (this.eightDigitVinData.length > 0) {
          this.eightDigitVinData.forEach((item, key) => {
            if (this.vinNumbers === item) {
              arr.push(this.vinData[key]);
            }
          });
        }

        if (arr.length > 0) {
          this.$store.dispatch('changeNoMatch', false);
          this.$store.dispatch('updateSearchResults', arr);
        } else {
          this.$store.dispatch('changeNoMatch', true);
          this.$store.dispatch('changeLoading', false);
        }
      });
    },
    startOver() {
      this.selected = {
        one: null,
        two: null,
        three: null,
        four: null,
        five: null,
        six: null,
        seven: null,
        eight: null,
      };
      this.$store.dispatch('updateSearchResults', []);
      this.$store.dispatch('changeHideSearchTool', false);
      this.$store.dispatch('changeLoading', false);
      this.$store.dispatch('changeNoMatch', false);
      this.$nextTick(() => {
        this.$refs.first.focus();
      });
    },
    startOverSR() {
      this.selectedSR = {
        one: null,
        two: null,
        three: null,
        four: null,
      };
      this.$store.dispatch('updateSearchResultsSR', []);
      this.$store.dispatch('changeHideSearchTool', false);
      this.$store.dispatch('changeLoading', false);
      this.$store.dispatch('changeNoMatch', false);
      this.$nextTick(() => {
        this.$refs.first.focus();
      });
    },
    processKeypressSR(nextField, prevField, evt) {
      const currentCount = this.counterSR;
      evt = (evt) || window.event;
      const charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();
        if (charCode === 37) {
          return this.$refs[prevField].focus();
        }
      } else if (charCode === 9) {
        if (currentCount < 100) {
          this.$store.dispatch('changeNoMatch', false);
        }
        return this.$refs[prevField].focus();
      } else if (charCode === 8) {
        if (currentCount < 100) {
          this.$store.dispatch('changeNoMatch', false);
        }
        return this.$refs[prevField].focus();
      }
      if (currentCount < 100) {
        this.$store.dispatch('changeNoMatch', false);
      }
      if (currentCount >= 100) {
        this.processSR();
      }
      return this.$refs[nextField].focus();
    },
    processKeypress(nextField, prevField, evt) {
      const currentCount = this.counter;
      evt = (evt) || window.event;
      const charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();
        if (charCode === 37) {
          return this.$refs[prevField].focus();
        }
      } else if (charCode === 9) {
        if (currentCount < 100) {
          this.$store.dispatch('changeNoMatch', false);
        }
        return this.$refs[prevField].focus();
      } else if (charCode === 8) {
        if (currentCount < 100) {
          this.$store.dispatch('changeNoMatch', false);
        }
        return this.$refs[prevField].focus();
      }
      if (currentCount < 100) {
        this.$store.dispatch('changeNoMatch', false);
      }
      if (currentCount >= 100) {
        this.process();
      }
      return this.$refs[nextField].focus();
    },
  },
  mounted() {
    const localstore = this.$localforage.createInstance({
      name: 'nfiVinDatabase',
      version: 1.0,
      storeName: 'nfiVinDatabase',
      description: 'Local storage offline solution for NFI',
    });
    localstore.getItem('vinData', function (data, err) {
        })
        .then(data => {
          if (!data) {
               localstore.setItem('vinData', assetDataAll, function (data, err) {
        })
        .then(data => {
          this.vinData = data
          data.forEach((item) => {
            this.eightDigitVinData.push(item[2].substr(item[2].length - 8));
            this.fourDigitSRData.push(item[1])
           });
          setTimeout(() => {
              this.firstLoad = false
            }, 800);
        })
          } else {
            this.vinData = data
          data.forEach((item) => {
            this.eightDigitVinData.push(item[2].substr(item[2].length - 8));
            this.fourDigitSRData.push(item[1])
           });
          
            setTimeout(() => {
              this.firstLoad = false
            }, 800);
          }
          
        })
        .catch(err => console.log(err))

        localstore.getItem('orgData', function (data, err) {
        })
        .then(data => {
          if (!data) {
            localstore.setItem('orgData', orgData, function (data, err) {
        }).then(data => {
          this.orgData = data
        })
          } else {
            this.orgData = data
          }
          if (this.$refs.first) {
            this.$refs.first.focus();
          }
        })
        .catch(err => console.log(err))
        
    
    
    
    
  },
};
</script>

<style lang="scss">
@import '../assets/animate.css';

.placeholder-search {
  height: 30px;
  background-color: #e1e1e144;
  border-radius: 3px;
}

.ofsc-card {
    border: 1px solid #d6dfe6;
    border-radius: 6px;
    background: #FFF;
    padding: 16px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.vin-digit {
  border: 2px solid #e5e9f2;
  margin-left: -14px;
  border-radius: 4px;
  font-size: 32px;
  min-height: 40px;
  width: 40px;
  text-align: center;
  color: #333;
  transition: all .3s;
  transform: scale(0.6);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;

  &:focus {
    border: 2px solid #e5692c;
    margin-left: -8px;
    margin-right: 8px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
  transform: scale(0.5);
  margin: 0px -11px;
  width: 40px;
  &:focus {
    margin-left: 5px;
    margin-right: 5px;
    transform: scale(1);
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  transform: scale(0.9);
  margin: 0px -1px;
  width: 40px;
  &:focus {
    margin-left: 15px;
    margin-right: 15px;
    transform: scale(1.5);
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  transform: scale(1.4);
  margin: 0px 12px;
  width: 40px;
  &:focus {
    margin-left: 28px;
    margin-right: 28px;
    transform: scale(2);
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  transform: scale(1.7);
  margin: 0px 19px;
  width: 40px;
  &:focus {
    margin-left: 30px;
    margin-right: 31px;
    transform: scale(2.2);
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  transform: scale(1.7);
  margin: 0px 19px;
  width: 40px;
  &:focus {
    margin-left: 30px;
    margin-right: 31px;
    transform: scale(2.2);
  }
}


  

  &::placeholder {
    color: #e1e1e1;
  }
}
.vin-loader {
  margin-left: 5px;
  height: 100px;
  width: 100px;
  text-align: center;
}
.ofsc-card-title {
    vertical-align: top;
    font-weight: 300;
    color: #252525;
    font-size: 24px;
    padding: 5px 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.selected {
  border-color: #13ce66;
}
.found-record-headings {
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  color: #999999;
}
.searchAnimationLeave {
  animation-duration: 1s;
  animation-delay: .1s;
}
</style>
