<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
window.parent.postMessage({
    "apiVersion": 1,
    "method": "ready",
    "showHeader": true,
    },"https://login.etadirect.com/mobility/");


export default {
  name: 'App',
  methods: {
    getPostMessageData(event) {
          var data = JSON.parse(event.data);
          console.log(data)
    switch (data.method)
    {
        case 'open':
        this.$store.dispatch('changeCurrentActivity', data.activity.aid.toString())
        this.$store.dispatch('changeActivityType', data.securedData.activityType.toString())
        break;
        default:
    }
    }
  },
  mounted() {
 window.addEventListener("message", this.getPostMessageData, false);
  }
};
</script>

<style>
* {
  font-family: Roboto;
}
html {
 background-color: #fafafa;
}
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
